.swiper-button-next,
.swiper-button-prev
{
    color: #000;

    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    width: 44px;
    height: 34px;
    margin: 0;

    transition: color .2s linear;
    transform: none;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.swiper-button-next
{
    margin-left: 24px;
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 44px;
    height: 18px;
}

.swiper-button-prev .icon
{
    transform: rotate(180deg);
}


.swiper-button-next:hover,
.swiper-button-prev:hover
{
    color: #ffd530;
}


.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: relative;
    bottom: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 3px;
    margin-top: 20px;

    pointer-events: none;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.swiper-pagination-bullet
{
    display: block;

    width: 100%;
    height: 3px;

    transition: .2s linear;
    pointer-events: auto;

    opacity: 1;
    border-radius: 1px;
    background: #c4c4c4;
}

.swiper-pagination-bullet + .swiper-pagination-bullet
{
    margin-left: 15px !important;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    background: #ffdd57;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
